<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="{Set your jlink path}/JLink.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-autoconnect 1 -device HC32F460xE -if SWD -speed 100000 -ExitOnError -CommandFile ${project_loc}/download.jlink"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc}/Release"/>
</launchConfiguration>
